[submodule "external/emsdk"]
	path = external/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
